.cy {
 height: 560px;
}

.matrice{
    border-collapse: collapse;
  }
  .matrice td{
    border: 2px solid black;
    padding: 5px 15px;
    text-align: center;
  }

  .top_numero{
    text-align: center;
  }
  
  .matriceTopNumero, .matriceTopNumero td{
    border: none;
  }
  
  .matrice .matriceLeftNumero{
    border: none;
  }

  .divEtape p{
   padding: 0;
   margin: 0;
  }
  .divEtape{
    display: inline;
    margin:20px;
  }
  #demarcheWrapper {
    display: none;
  }
